#daily{
    color: azure;
    background-color: black;
}
#currentEvents{
  
    color:#ffc800;
}
.card-text{
    display: flex;
}
#moreInfo{

    position: absolute;
    right: 20px; 
    bottom: 20px;
   
}
li{
    text-decoration: none;
}
#loginModalBody{
    display: flex;
    background-image: url(../img/fondoLogin.jpg);
    background-size: cover;
    
}
.modal-header{
    background-image: url(../img/modalheader.png);
}
.modal-footer{
    background-color: black;
}
.modal-title{
    margin-left: 10px;
  
}
#logoutLink{
    text-decoration: none;
    color: black;
}
#registerAction{
    text-align: center;
}
#registerAction h4{
    text-align: center;
    font-size: 32px;
}
#logoModal{
    width: 55px;
}
#userlogo{
    width: 40px;
}


.wrapper {
    width: 800px;
    padding: 0;

  }
  
  .zoom-effect-container {
      float: left;
      position: relative;
      width: 400px;
      height: 400px;
      overflow: hidden;
      
  }
  
  #createModal{
      width: 800px;

 
  
    
  }

  .image-card img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    object-fit: cover;
    height: auto;
    width: 400px;
    z-index: 1;
  }

  #registerUser2{
      margin-top: 200px;
  }
  

  
  .zoom-effect-container:hover .image-card img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
  }

  #createModal{
      padding: 0;
  }

  .texto{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;

}
#createModal p{
    font-size: 16px;

}
#RegisterModal{
    left: -100px;
}
#registerNav{
    background-color: black;
    height: 100px;
}
#registerNav img{
    width: 15%;
}
#userForm{
    margin-top: 100px;
    margin-left: 1%;

    
 
}
.btn-link{
    text-decoration: none;
    color: black;
}
#userFormTitle{
    font-weight: normal;
}
.alert{
    margin-top: 100px;
    z-index: 1;
}

/*Event Info Styles*/

#eventInfo{
    margin-top: 150px;
    margin-left: 6%;
}

#eventInfo h1{
    color: white;
    font-weight: lighter;
    margin-bottom: 30px;
}


#eventInfo p{
    color: #ffc800;
    margin-top: -15px;
}


#eventInfo span{
    color:white;
    
}



#eventInfo img{
    color:white;
    object-fit: cover;
}

#eventInfo a{
    color:black;
   text-decoration: none;
}
#artistInfo{
   margin-top: -250px;
    margin-left: 6%;
}

#artistInfo h1{
    color: white;
    font-weight: lighter;
    margin-bottom: 30px;
}


#artistInfo p{
    color: #ffc800;
    margin-top: -250px;
}


#artistInfo span{
    color:white;
    
}



#artistInfo img{
    color:white;
    object-fit: cover;
}

#artistInfo a{
    color:black;
   text-decoration: none;
}